%h1 Listing cohorts

%table.responsive
  %tr
    %th Name
    %th Admins

  - @cohorts.each do |cohort|
    %tr
      - if can? :read, cohort
        %td= link_to cohort.name, cohort
      - else
        %td= cohort.name
      %td= cohort.administrators.map(&:email).to_sentence

%br

= link_to 'New Cohort', new_cohort_path, class: :submit_button if can? :create, Cohort
