/*

Sticky Footer by Ryan Fait
http://ryanfait.com/
200px for footer height.

*/

* {
  margin: 0;
}

html, body {
  height: 100%;

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($footer-height * -1);

  }

  footer, .push {
    height: $footer-height;
  }

}