%p
  %b Measure:
  = @metric.measure
%p
  %b Active:
  = @metric.active

%ul#actions
  %li= link_to 'Edit', edit_metric_path(@metric), class: :button
  %li= link_to 'Back', metrics_path, class: :button
