#answers {
  @include clearfix;

  .answer {
    min-width: 320px;
    width: 33.33%;
    float: left;
    padding: 0 1.5em;
    text-align: center;

    // Fix for 5 question answer-set
    &:nth-child(4) {
      margin-left: 16.665%;
    }

    label {
      min-height: 3.5rem;
    }

    textarea {
      max-height: 6rem;
    }

    .knob {
      position: relative !important;
      margin: 0 0 0.5em !important;
    }
  }
}

@media screen and (max-width:960px) {

  #answers {

    .answer {
      width: 100%;

      &:nth-child(4) {
        margin-left: 0;
      }
    }
  }

}