%h1 Listing users

%table#mobile.responsive
  %tr#administering
    %td Admin

%table.responsive
  %tr
    %th Name
    %th.hide Cohort
    %th.hide Administering

  - @users.each do |user|
    %tr{:class => ('admin' if user.administered_cohorts.map(&:name).any?)}
      %td= link_to user.email, user
      %td= user.cohort.try(:name)
      %td= user.administered_cohorts.map(&:name).to_sentence

%br

= link_to 'Invite User', new_user_invitation_path, class: :submit_button
