.submit_button, 
button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  float: right;
  -webkit-box-shadow: 0 3px 0 0 $dark-red;
  -moz-box-shadow: 0 3px 0 0 $dark-red;
  box-shadow: 0 3px 0 0 $dark-red;
  margin: 1rem 0 0;
}

@media screen and (max-width:640px) {

  .submit_button, 
  button,
  input[type="submit"] {
    width: 100%;
    line-height: 1.5;
  }

}