@font-face {
  font-family: 'PFDinTextCompProBold';
  src: font-url('pfdintextcomppro-bold.eot');
  src: font-url('pfdintextcomppro-bold.eot?#iefix') format('embedded-opentype'),
       font-url('pfdintextcomppro-bold.woff') format('woff'),
       font-url('pfdintextcomppro-bold.ttf')  format('truetype'),
       font-url('pfdintextcomppro-bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'PFDinTextCompProMedium';
  src: font-url('pfdintextcomppro-medium.eot');
  src: font-url('pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
       font-url('pfdintextcomppro-medium.woff') format('woff'),
       font-url('pfdintextcomppro-medium.ttf')  format('truetype'),
       font-url('pfdintextcomppro-medium.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'PFDinTextCompProLight';
  src: font-url('pfdintextcomppro-light.eot');
  src: font-url('pfdintextcomppro-light.eot?#iefix') format('embedded-opentype'),
       font-url('pfdintextcomppro-light.woff') format('woff'),
       font-url('pfdintextcomppro-light.ttf')  format('truetype'),
       font-url('pfdintextcomppro-light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'News706BT-RomanC';
  src: font-url('News706BT-RomanC.eot');
  src: font-url('News706BT-RomanC.eot?#iefix') format('embedded-opentype'),
       font-url('News706BT-RomanC.woff') format('woff'),
       font-url('News706BT-RomanC.ttf')  format('truetype'),
       font-url('News706BT-RomanC.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'News706BT-ItalicC';
  src: font-url('News706BT-ItalicC.eot');
  src: font-url('News706BT-ItalicC.eot?#iefix') format('embedded-opentype'),
       font-url('News706BT-ItalicC.woff') format('woff'),
       font-url('News706BT-ItalicC.ttf')  format('truetype'),
       font-url('News706BT-ItalicC.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'News706BT-BoldC';
  src: font-url('News706BT-BoldC.eot');
  src: font-url('News706BT-BoldC.eot?#iefix') format('embedded-opentype'),
       font-url('News706BT-BoldC.woff') format('woff'),
       font-url('News706BT-BoldC.ttf')  format('truetype'),
       font-url('News706BT-BoldC.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Inconsolata';
  src: font-url('inconsolata.eot');
  src: font-url('inconsolata.eot?#iefix') format('embedded-opentype'),
       font-url('inconsolata.woff') format('woff'),
       font-url('inconsolata.ttf')  format('truetype'),
       font-url('inconsolata.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Iconic';
  src: font-url('iconic.eot');
  src: font-url('iconic.eot?#iefix') format('embedded-opentype'),
       font-url('iconic.woff') format('woff'),
       font-url('iconic.ttf')  format('truetype'),
       font-url('iconic.svg#svgFontName') format('svg');
}