table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0;
  width: 100% !important;

  tr, td, th {
    vertical-align: middle;
  }

  th {
    border-bottom: 1px solid darken($base-border-color, 15%);
    font-weight: bold;
    padding: ($base-line-height / 2) 0;
    padding: 0 1.5em;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $base-border-color;
    padding: ($base-line-height / 2) 0;
    padding: 1.5em;
  }

  &.responsive {

    th {
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    td {
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    tr {
      text-align: right;

      &:nth-child(even) {
        background-color: $lighter-gray;
      }
    }
  }
}

@media screen and (max-width:640px) {

  table.responsive {

    .important-block {
      display: block !important;
    }

    th, td {
      display: none;
      width: 100%;

      &:first-child {
        display: block !important;
        padding: 1.5em;
      }
    }

    td {
      padding: 0;
      text-align: center;

      a {
        background-color: $base-button-color;
        color: $white;
        width: 100%;
        display: block;
        padding: 1.5em;
        -webkit-box-shadow: 0 3px 0 0 $dark-red;
        -moz-box-shadow: 0 3px 0 0 $dark-red;
        box-shadow: 0 3px 0 0 $dark-red;

        &:hover {
          background-color: $hover-button-color;
          color: white;
        }
      }
    }
  }
}