%p.login-notice
  =link_to 'Log in', new_user_session_path
  to snapshot your mood.

%p.splash
  This is a site for GA students (specifically, GA WDI London students :) to record instant feedback about their satisfation with their experience. It does not replace the quarterly feedback questionnaires #{'&mdash;'.html_safe} rather it allows for much more rapid response to changes in the class and curriculum.

%p.cta
  The more you measure your mood; the more can be addressed better, faster.