#header
  %h1
    Welcome to the Mood&nbsp;Machine

- if signed_in?
  =render partial: 'answer_sets/form'
- else
  %p.login-notice
    =link_to 'Log in', new_user_session_path
    to snapshot your mood.

  