%h1
  Welcome to the Machine

%p
  = link_to 'sign in', new_user_session_path unless signed_in?
  - if signed_in?
    hey, moody
    =link_to 'sign out', destroy_user_session_path, method: :delete


- if signed_in?
  =form_for @answer_set do |f|
    =f.fields_for :answers do |m|
      .answer
        =m.hidden_field :metric_id
        %ul
          %li
            =m.label :value, m.object.metric.measure
          %li
            =m.text_field :value, class: :knob, data: m.object.knob_data
          %li
            =m.text_field :comments
    =f.submit 'share mood', class: :submit_button


  