%h1
  Welcome to the Machine

%p
  = link_to 'sign in', new_user_session_path unless signed_in?
  - if signed_in?
    hey, moody
    =link_to 'sign out', destroy_user_session_path, method: :delete
    =link_to 'historic moods', answer_sets_path

- if signed_in?
  =render partial: 'answer_sets/form'

  