= form_for @answer_set do |f|
  - if @answer_set.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer_set.errors.count, "error")} prohibited this answer_set from being saved:"
      %ul
        - @answer_set.errors.full_messages.each do |msg|
          %li= msg

  #answers
    =f.fields_for :answers do |m|
      .answer
        =m.hidden_field :metric_id
        %ul
          %li.label
            =m.label :value, m.object.metric.measure
          %li
            =m.text_field :value, class: :knob, data: m.object.knob_data
          %li
            =m.text_area :comments, placeholder: 'any comments?', class: 'answer-comments', cols: 25
  #actions
    =f.submit 'share mood', class: :submit_button, id: 'button-share-mood'

