%h1 Listing Answer Sets

#myChart{height: 400 }


:javascript
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'myChart',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: #{@answer_sets.map(&:chart_data).to_json}
    ,
    // The name of the data record attribute that contains x-values.
    xkey: 'timestamp',
    // A list of names of data record attributes that contain y-values.
    ykeys: #{@answer_sets.map(&:chart_data_label_keys).flatten.uniq.to_json},
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    // labels: ['Value']
  });
