- content_for :header do
  = javascript_include_tag 'answer_set_index'

%h1 Listing Answer Sets

#myChart{height: 400 }
-data = @answer_sets.map(&:chart_data).to_json#.gsub('"', "'").gsub("'timestamp'", 'timestamp').html_safe
-keys = @answer_sets.map(&:chart_data_label_keys).flatten.uniq#.to_json.gsub('"', "'").gsub('"timestamp"', 'timestamp').html_safe

=content_tag :div, "", id: "line-chart", data: {data: data, keys: keys}
