%footer
  %p
    BTW #{'&mdash;'.html_safe} this is a work in progress, and is a bit .... erm.... rough around the edges.
  %p
    Please raise issues on the #{link_to 'Github repository', 'https://github.com/Pavling/mood_swings/issues'} (or ideally, fork, fix, and PR :)
